/** Add css rules here for your application. */
html {
	height: 100%
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	overflow: hidden
}
#filterBox {
	width: 280px;
	height: 290px;
	position: absolute;
	bottom: 50px;
	left: 50px;
	background-color: white;
	z-index: 1;
}
#navBar {
	width: 100%;
	height: 5%;
	background-color: #7ab94e;
	color: white;
	text-align: center;
	font-size: 1.2em;
	border-bottom: 1px solid #6d9154;
}

#map_canvas {
	width:78%; 
	height:95vh;
	position: absolute;
	float: left;

}

#list_view {
	width:22%; 
	height:95vh;
	position: relative;
	float: right;
	background-color: #fff;
	overflow-y: scroll;
}

.cell {
	border-bottom: 1px solid #ddd;
	padding: 20px;
}

.selected {
	background-color: #ffc;
}

.meter_number {
	font-weight: 700;
	font-size: 0.95em;
	color: #323232;
}

.meter_data {
	font-weight: 200;
	font-size: 0.95em;
	color: #aaaaaa
}
.light {
	font-weight: 100;
}

#title {
	top: 5px;
	position: relative;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.addButton {
  display: block;
  font-size: 16pt;
}

.removeButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-TextCell {
  background-color: white;
  color: #fff;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}