/** Add css rules here for your application. */
html {
	height: 100%
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	overflow: hidden
}
#search {
	float:left;
	padding:30px 80px;
	position: absolute;
	z-index: 2;
}

.textbox {
margin-right: 0;
padding: 5px 15px;
font-size: 14px;
border: 1px solid black; 
 border-top-left-radius: 5px 5px;
 border-bottom-left-radius: 5px 5px;
 

}


.searchbutton {
   	margin-left: 0;
  	padding: 5px 15px;
    font-size: 14px;
    outline: none;
 	cursor: pointer;
 	text-align: center;
    text-decoration: none;
    background: none;
   	border:  solid 1px black;
 	border-top-right-radius: 5px 5px;
 	border-bottom-right-radius: 5px 5px;
 	background-size: auto;
 
}
.searchbutton:hover {
   background-color: grey;
}

#filterBox {
	width: 280px;
	height: 290px;
	position: absolute;
	bottom: 50px;
	left: 50px;
	background-color: white;
	z-index: 1;
}
#navBar {

	width: 100%;
	height: 45px;
	background-color: #7ab94e;
	color: white;
	text-align: center;
	font-size: 1.2em;
	border-bottom: 1px solid #6d9154;
}
#loadingContainer {
	width: 400px;
 	height:30px;
 	border: 1px solid #ccc;
  	border-radius:30px;
	position:absolute;
	top:50vh;
	right:50vh;
	background-color: #fff;
	display:block;
	z-index: 2;
	
}
#loadbar {
  width: 60px;
  height:28px;
  background-color:#7ab94e;
  border-radius:30px;
  position: relative;
  top:1px;
  left: 1px;
}
#loginInfo {
	position: relative;
	float: right;
	padding-right: 20px;
	top: 10px;	
}
#loadMeters {
	position: relative;
	float: left;
	padding-left: 20px;
	top: 7px;
}

.loadButton{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #659b40;
	border: 1px solid #588738; 
	padding:5px 10px 5px 10px;
	color: #fff;
	font-weight:100;
	border-radius: 3px;
}
.visible {
	display: inline;
}

.invisible {
	display: none;
}

.listMarkerIcon {
	border-radius: 30px;
	width: 8px;
	height: 8px;
	display: block;
	top: 15px;
	right: 20px;
	position: relative
}

.marker1 {
  background-color: #45803d;
}

.marker2 {
  background-color: #f3c50f;
}

.marker3 {
  background-color: #f38a0f;
}

.marker4 {
  background-color: #ff0000;
}

.marker5 {
  background-color: #9d1be0;
}

.marker6 {
  background-color: #005abf;
}

.left {
	float: left;
	position: relative;
}
.right {
	float: right;
	position: relative;
}

#map_canvas {
	width: 78%;
		/* Firefox */
	height: -moz-calc(100vh - 45px);
	/* WebKit */
	height: -webkit-calc(100vh - 45px);
	/* Opera */
	height: -o-calc(100vh - 45px);
	/* Standard */
	height: calc(100vh - 45px);
	position: absolute;
	float: left;

}

#list_view {
	width:22%; 
	/* Firefox */
	height: -moz-calc(100vh - 45px);
	/* WebKit */
	height: -webkit-calc(100vh - 45px);
	/* Opera */
	height: -o-calc(100vh - 45px);
	/* Standard */
	height: calc(100vh - 45px);
	position: relative;
	float: right;
	background-color: #fff;
	overflow-y: scroll;
}

#alertBox {
	position: absolute;
	width: 300px;
	height: 150px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #ccc;
	left: 35%;
	top: 35%;
	z-index: 2;
	padding: 20px 10px 20px 10px;
	color: #ccc;
}
.cell {
	border-bottom: 1px solid #ddd;
	padding: 12px 0px 25px 45px;
}

.selected {
	background-color: #ffc;
}

.meter_number {
	font-weight: 700;
	font-size: 0.95em;
	color: #323232;
}

.meter_data {
	font-weight: 200;
	font-size: 0.9em;
	color: #aaaaaa;
}
.light {
	font-weight: 100;
}

#title {
	top: 10px;
	position: relative;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.addButton {
  display: block;
  font-size: 16pt;
}

.removeButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-TextCell {
  background-color: white;
  color: #fff;
}

.gwt-Anchor {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-size: 0.7em;
	font-weight: 100;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
